*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%
}


.navbar {
    width: 100%;
    background: #101B21;
    padding: 20px 10px;

  }

  .navbar ul {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
  }

  .navbar button, .navbar a {
    margin-left: 16px;
  }

  .navbar li {
    color: white;
    text-decoration: none;
    list-style: none;
  }

  .title {
    color: aliceblue;
  }