@import url("https://fonts.google.com/share?selection.family=Blinker:wght@100;200;300;400;600;700;800;900");

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Blinker", sans-serif;
    font-size: 1.6rem;
    max-width: 1500px;
    margin: 0 auto;
  }

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
    /* background-color: #000;  */
}

.impostr-logo {
    width: 100px
}


.navbar {
    width: 100%;
    background: #101B21;
    padding: 20px 10px;

  }

  .navbar ul {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
  }

  .navbar button, .navbar a {
    margin-left: 16px;
  }

  .navbar li {
    color: white;
    text-decoration: none;
    list-style: none;
  }

  .title {
    color: aliceblue;
  }